body {
  height: 100vh;
  background-color: #fffcf5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%2375d25f' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.container {
  max-width: 600px;
  padding: 20px 20px 40px;
  border: 5px solid rgb(70, 70, 70);
  box-shadow: 0 0 40px rgba(46, 46, 46, 0.646);
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgb(250, 250, 250);
}

.foodie-icon img {
  width: 250px;
  max-width: 100%;
  display: block;
  margin: 20px auto;
}

.quick-nav {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.formatted-text pre {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  white-space: pre-line;
}

#search-form {
  margin-bottom: 20px;
}

.btn-outline-primary:hover {
  color: #b33000;
}

.list-group-item {
  background-color: transparent;
}
